# .gitignore
Study/javaProjects/CRUDAngularNew2
Study/javaProjects/LeetCodePractise
Study/javaProjects/TestProject
Study/javaProjects/microServiceTest
Study/javaProjects/microTest
Study/javaProjects/my-project
Study/javaProjects/CRUDAngularNew2.iml


