# .gitignore
 /home/krieger/Downloads/Main/Study/javaProjects/CRUDAngularNew2
 /home/krieger/Downloads/Main/Study/javaProjects/LeetCodePractise
 /home/krieger/Downloads/Main/Study/javaProjects/TestProject
 /home/krieger/Downloads/Main/Study/javaProjects/microServiceTest
 /home/krieger/Downloads/Main/Study/javaProjects/microTest
 /home/krieger/Downloads/Main/Study/javaProjects/my-project


