# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
javaProjects/Crud/
javaProjects/CRUDAngularNew2/
javaProjects/JavaProjects041023/
javaProjects/LeetCodePractise/
javaProjects/LiquidBasePts/
javaProjects/microServiceTest/
javaProjects/microTest/
javaProjects/my-project/
javaProjects/TestProject/
javaProjects/CRUDAngularNew2.iml


