# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Study/javaProjects/Crud/
/Study/javaProjects/CRUDAngularNew2/
/Study/javaProjects/JavaProjects041023/
/Study/javaProjects/LeetCodePractise/
/Study/javaProjects/LiquidBasePts/
/Study/javaProjects/microServiceTest/
/Study/javaProjects/microTest/
/Study/javaProjects/my-project/
/Study/javaProjects/TestProject/
/Study/javaProjects/CRUDAngularNew2.iml


